<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/users/validate" method="POST">

    <label for="pesel">PESEL:</label><br>
    <input type="number" id="pesel" name="username" required><br><br>

    <label for="password">Hasło:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <button type="submit">Zaloguj</button>
</form>

<p style="margin-top: 20px;">
    <a href="/register">Register as User</a> |
    <a href="/register-admin" style="color: red;">Register as Admin</a>
</p>

</body>
</html>